<header class="text-gray-700 body-font border-b border-gray-200">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class: "flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" do %>
      <%= image_tag "byo_beats.png", class: "w-20 h-10 rounded-full cursor-pointer", alt: "logo" %>
      <span class="ml-3 text-xl">BYO BEATS .</span>
    <% end %>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <div class="md:block flex md:items-center">
        <% if user_signed_in? %>
          <div class="flex md:space-x-6 items-center ml-auto">
            <%= link_to 'Register Your Band', new_band_path, class: "text-gray-800 font-medium hover:text-purple-500" %>
            <%= link_to user_path(current_user) do %>
              <div class="flex items-center mb-3">
                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <%= current_user.firstname %>
              </div>
            <% end %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: "text-gray-800 font-medium hover:text-purple-500" %>
          </div>
        <% else %>
          <div class="flex space-x-4 md:space-x-6 items-center ml-auto">
            <%= link_to('Login', new_user_session_path, class: "text-gray-800 font-medium py-1 px-3 md:px-4 border border-gray-400 rounded shadow")  %>
            <%= link_to('Sign Up', new_user_registration_path, class: "text-gray-800 font-medium py-1 px-3 md:px-4 border border-gray-400 rounded shadow")  %>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
</header>
